/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/
/* animation keyfram and animation name */
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(2rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-2rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBtnBottom {
  0% {
    opacity: 0;
    transform: translateY(10rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

:root {
  font-size: 62.5%; }

/* provide default font properties */
body {
  font-family: "lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777;
  padding: 2rem;
  box-sizing: border-box; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 1.6rem; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation-name: moveInLeft;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    backface-visibility: hidden;
    /*animation-delay: 1s;*/
    /*animation-iteration-count: 3;*/ }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.7rem;
    animation-name: moveInRight;
    animation-duration: 3s; }

.heading-secondary {
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  transition: all 0.4s; }
  .heading-secondary:hover {
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.4);
    transform: skewY(2deg) skewX(15deg) scale(1.1); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center; }

.u-mb-small {
  margin-bottom: 1.5rem; }

.u-mb-medium {
  margin-bottom: 4rem; }

.u-mb-big {
  margin-bottom: 8rem; }

.btn:link, .btn:visited {
  position: relative;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  padding: 1.5rem 4rem;
  border-radius: 10rem;
  transition: all 1s; }
  .btn:link:hover, .btn:visited:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }
    .btn:link:hover::after, .btn:visited:hover::after {
      transform: scaleX(1.5) scaleY(1.6);
      opacity: 0; }
  .btn:link:active, .btn:visited:active {
    transform: translateY(-0.1rem);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }
  .btn:link::after, .btn:visited::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    z-index: -1;
    transition: all 0.5s; }
  .btn:link--animation, .btn:visited--animation {
    animation: moveInBtnBottom 0.5s ease-in-out 0.75s;
    animation-fill-mode: backwards; }

.btn--tour {
  background-color: #fff;
  color: #777; }
  .btn--tour::after {
    background-color: #fff; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #28b485;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #28b485;
  padding: 3px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s; }

.btn-text:hover {
  background-color: #28b485;
  color: #fff;
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15); }

.btn-text:active {
  transform: translateY(0);
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.15); }

.composition {
  position: relative; }
  .composition__photos {
    position: absolute;
    width: 55%;
    border-radius: 2px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    transition: all 0.2s;
    z-index: 10;
    outline-offset: 2rem; }
    .composition__photos--p1 {
      left: 0;
      top: -2rem; }
    .composition__photos--p2 {
      right: 3rem;
      top: 2rem; }
    .composition__photos--p3 {
      left: 20%;
      top: 10rem; }
    .composition__photos:hover {
      outline: 1.5rem solid #28b485;
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.4);
      transform: scale(1.1) translateY(-0.2px);
      z-index: 20; }
  .composition:hover .composition__photos:not(:hover) {
    transform: scale(0.95); }

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: all 0.4s; }
  .feature-box__icon {
    display: inline-block;
    font-size: 6rem;
    color: #28b485;
    margin-bottom: 0.5rem; }
  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.1); }

.header {
  position: relative;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  height: 95vh;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); }
  .header__img-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    height: 3.4rem; }
  .header__heading-box {
    position: absolute;
    /*top left change base on parent element*/
    top: 40%;
    left: 50%;
    /*its change Y and X axis of element its self*/
    transform: translate(-40%, -50%);
    text-align: center; }

.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -25vh; }

.section-feature {
  padding: 25rem 0;
  margin-top: -10rem;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/nat-4.jpg);
  background-position: top;
  background-size: cover;
  transform: skewY(-7deg); }
  .section-feature > * {
    transform: skewY(7deg); }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc( 2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc( 2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc( 3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }
