.form {
    &__group:not(:last-child) {
        margin-bottom: 2rem;
    }
    &__input {
        display: block;
        font-size: 1.5rem;
        font-family: inherit;
        padding: 1.5rem 2rem;
        border-radius: 2px;
        background-color: rgba($color-white, 0.5);
        border-bottom: 3px solid transparent !important;
        width: 90%;
        transition: all 0.3s;
        border: none;
        &:focus {
            outline: none;
            box-shadow: 0 1rem 2rem rgba($color-black, 0.1);
            border-bottom: 3px solid $color-primary-dark !important;
            &:invalid {
                border-bottom: 3px solid $color-secondary-dark !important;
            }
        }
        &::-webkit-input-placeholder {
            color: #999;
        }
    }
    &__label {
        display: block;
        font-size: 1.6rem;
        font-weight: 700;
        margin-left: 2rem;
        margin-top: 0.7rem;
        transition: all 0.3s;
    }
    &__input:placeholder-shown~&__label {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-2rem);
    }
    &__radio-group {
        width: 49%;
        display: inline-block;
    }
    &__radio-input {
        display: none;
    }
    &__radio-label {
        font-size: 1.6rem;
        cursor: pointer;
        padding-left: 4.5rem;
        position: relative;
    }
    &__radio-button {
        height: 3rem;
        width: 3rem;
        border: 5px $color-primary-dark solid;
        border-radius: 50%;
        display: inline-block;
        position: absolute;
        left: 0;
        top: -0.2rem;
        &::after {
            content: " ";
            display: block;
            height: 1.5rem;
            width: 1.5rem;
            background-color: $color-primary-dark;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: 0;
            transition: all 0.3s;
        }
    }
    &__radio-input:checked~&__radio-label &__radio-button::after {
        opacity: 1;
    }
}