.heading-primary {
  color: $color-white;
  text-transform: uppercase;
  margin-bottom: 1.6rem;

  &--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation-name: moveInLeft;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    backface-visibility: hidden;
    /*animation-delay: 1s;*/
    /*animation-iteration-count: 3;*/
  }

  &--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.7rem;
    animation-name: moveInRight;
    animation-duration: 3s;
  }
}

.heading-secondary {
  background-image: linear-gradient(
    to right,
    $color-primary-light,
    $color-primary-dark
  );
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  transition: all 0.4s;

  &:hover {
    text-shadow: 0.5rem 1rem 2rem rgba($color-black, 0.4);
    transform: skewY(2deg) skewX(15deg) scale(1.1);
  }
}

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: 1.6rem;
  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}
