.section-about {
  background-color: $color-grey-light;
  padding: 25rem 0;
  margin-top: -25vh;
}

.section-feature {
  padding: 25rem 0;
  margin-top: -10rem;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url(../img/nat-4.jpg);
  background-position: top;
  background-size: cover;
  transform: skewY(-7deg);

  & > * {
    transform: skewY(7deg);
  }
}
